.container{
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  padding-top: 35vh;
  padding-bottom: 5rem;
}

.title{
  color: var(--color-black-3);
  font-size: var(--font-size-8x);
  font-weight: 600;
  text-align: center;
}

.title span{
  color: var(--color-main-2);
}

.search_input{
  width: 100%;
  max-width: 70rem;
  margin-bottom: 2rem;
  border-radius: 99rem;
  box-shadow: var(--box-shadow-1);
  display: flex;
  align-items: center;
  position: relative;
}

.search_input input{
  width: 100%;
  border: 0;
  padding: 1.2rem 2rem;
  padding-left: 4.5rem;
  border-radius: 99rem;
  color: var(--color-black-3);
  font-size: var(--font-size-3x);
}

.search_input input::placeholder{
  color: var(--color-black-1);
}

.search_input svg{
  color: var(--color-main-2);
  font-size: 2.1rem;
  position: absolute;
  left: 1.5rem;
  pointer-events: none;
}

.nav{
  width: 100%;
  max-width: 110rem;
}

.nav_title{
  color: var(--color-main-2);
  font-size: var(--font-size-2x);
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.7rem;
  list-style: none;
}

.nav ul li{
  display: flex;
}

.nav ul button{
  width: 100%;
  background-color: var(--color-white);
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 1.5rem;
  color: var(--color-black-3);
  font-size: var(--font-size-4x);
  font-weight: 600;
  text-align: right;
  box-shadow: var(--box-shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

button .icon{
  background-color: var(--color-main-0);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
}

button .icon svg{
  color: var(--color-main-2);
  font-size: 2.3rem;
}

@media (min-width: 768px){
  .container{
    padding: 2rem;
  }

  .title{
    font-size: var(--font-size-11x);
  }
}