.container{
  min-height: 100vh;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(/imgs/project-image-1.png); */
  background-size: contain;
  background-position: top center;
}

.gradient{
  width: 100%;
  height: 23rem;
  background-image: linear-gradient(#FFF2, var(--color-bg));
}

.project_section{
  width: 100%;
  background-color: var(--color-bg);
  padding: 0 2rem 8rem;
}

.wrapper{
  width: 100%;
  max-width: 110rem;
  margin: auto;
  margin-top: -3rem;
}

.tags{
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.tags li,
.details_tags .tag{
  background-color: var(--color-main-0);
  color: var(--color-main-2);
  font-size: var(--font-size-2x);
  font-weight: 500;
  padding: .5rem 1.5rem;
  border-radius: 99rem;
}

.project_title{
  margin-bottom: 1rem;
  color: var(--color-black-3);
  font-size: var(--font-size-9x);
  font-weight: 600;
}

.project_description{
  border-left: 3px solid var(--color-main-1);
  margin-left: 1rem;
  margin-bottom: 5rem;
  padding-left: 2rem;
  color: var(--color-black-3);
  font-size: var(--font-size-3x);
}

.project_highlight{
  border-radius: 1.5rem;
  display: flex;
  overflow: hidden;
}

.project_highlight iframe{
  width: 100%;
  aspect-ratio: 16/9;
  border: 0;
}

.project_team{
  margin-top: 3rem;
  padding: 3rem 2rem;

  display: flex;
  justify-content: center;
  gap: 5rem;
}

.team_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.team_wrapper span{
  color: var(--color-black-1);
  font-size: var(--font-size-3x);
  font-weight: 500;
}

.profile_img{
  display: flex;
  flex-wrap: wrap;
}

.profile_img button{
  background-color: transparent;
  border: 0;
  border-radius: 99rem;
  display: flex;
  cursor: pointer;

  transition: transform .3s ease;
}

.profile_img button:hover{
  z-index: 1;
}

.profile_img button:not(:first-child){
  margin-left: -2rem;
}

.profile_img img{
  width: 7rem;
  border-radius: 99rem;
  border: 2px solid var(--color-bg);
}

.project_details{
  margin-bottom: 4rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-2);
  list-style: none;
}

.project_details .row{
  padding: 1.5rem 0;
  font-size: var(--font-size-3x);
  display: flex;
  justify-content: space-between;
}

.project_details .row:not(:last-child){
  border-bottom: 2px solid var(--color-main-0);
}

.row .title{
  color: var(--color-main-2);
  font-weight: 500;
}

.row .value{
  color: var(--color-black-3);
}

.row .value.finalizado{
  color: var(--color-green-1);
  font-weight: 600;
}

.row .value.em_desenvolvimento{
  color: var(--color-orange-1);
  font-weight: 600;
}

.project_details .row.row_tags{
  flex-direction: column;
  gap: 1.5rem;
}

.details_tags{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project_links{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.project_links a{
  border-radius: 99rem;
  padding: 1rem 3rem;
  font-size: var(--font-size-3x);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  text-decoration: none;
}

.project_links a svg{
  font-size: 2.4rem;
}

.project_links a img{
  width: 2.3rem;
}

.project_links a.codigo_fonte{
  border: 1px solid var(--color-main-1);
  background-color: var(--color-white);
  color: var(--color-main-2);
}

.project_links a.github{
  background-color: var(--color-black-3);
  color: var(--color-white);
}

.project_links a.pdf_publicacao{
  background-color: var(--color-main-2);
  color: var(--color-white);
}

.back_bttn{
  padding: .6rem 1.5rem;
  background-color: var(--color-white);
  border: 0;
  border-radius: 99rem;
  box-shadow: var(--box-shadow-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 2rem;
  z-index: 1;
  transform: translateX(100vw - 50%);
  cursor: pointer;
}

.back_bttn svg{
  color: var(--color-main-2);
  font-size: 3.2rem;
}

.back_bttn span{
  color: var(--color-main-2);
  font-size: var(--font-size-4x);
  font-weight: 600;
}

/* === gallery_images ===*/
.gallery_images{
  margin: 3rem 0;
}

.img_full_screen{
  width: 100%;
  height: 100%;
  background-color: #0007;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.img_full_screen img{
  width: 90%;
  max-width: 110rem;
  user-select: none;
}

/*=== profile_modal_wrapper ===*/
.profile_modal_wrapper{
  width: 100%;
  height: 100%;
  background-color: #0007;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.profile_modal{
  width: 90%;
  max-width: 60rem;
  background-color: #FFF;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-2);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_modal .profile_wallpaper{
  width: 100%;
  height: 10rem;
  background-color: var(--color-main-2);
  background-image: linear-gradient(to right, var(--color-main-2), var(--color-main-0));
  border-radius: 1.5rem;
}

.profile_modal_figure{
  margin-top: -4rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.profile_modal_img{
  width: 8rem;
  border: 4px solid #FFF;
  border-radius: 50%;
  display: flex;
  position: relative;
  z-index: 1;
}

.profile_modal_figure::before,
.profile_modal_figure::after{
  --size: 3.5rem;
  content: '';
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  position: absolute;
  top: .5rem;
}

.profile_modal_figure::before{
  box-shadow: 20px 20px 0 var(--color-white);
  right: calc(100% - .3rem);
}

.profile_modal_figure::after{
  box-shadow: -20px 20px 0 var(--color-white);
  left: calc(100% - .3rem);
}

.profile_modal h4{
  margin-bottom: .3rem;
  font-size: var(--font-size-5x);
  font-weight: 600;
  text-align: center;
}

.profile_modal span{
  margin-bottom: 1.5rem;
  color: var(--color-black-5);
  font-size: var(--font-size-3x);
}

.profile_modal p{
  max-height: 14rem;
  margin-bottom: 2.5rem;
  color: var(--color-black-3);
  font-size: var(--font-size-3x);
  overflow-y: auto;
}

.profile_contact{
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile_contact button,
.profile_contact a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.profile_contact button img,
.profile_contact a img{
  height: 2.7rem;
}

.profile_modal_close_bttn{
  width: 100%;
  border: 0;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--color-main-2);
  color: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  
  transition: .2s ease opacity;
}

.profile_modal_close_bttn:hover{
  opacity: .7;
}


@media (min-width: 768px){
  .gradient{
    height: 40rem;
  }

  .project_title{
    font-size: var(--font-size-12x);
  }

  .project_description{
    font-size: var(--font-size-4x);
  }

  .profile_img button:hover{
    transform: translateY(-1rem);
    z-index: 1;
  }

  .project_details .row{
    font-size: var(--font-size-4x);
  }


  .back_bttn{
    padding: .6rem;
    top: 50%;
    left: 2rem;
    bottom: unset;
    transform: unset;
  }

  .back_bttn span{
    display: none;
  }
}

@media (min-width: 1440px){
  .gradient{
    height: 60rem;
  }
}